
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");


#top, #bottom, #left, #right {
	background:#ffc200;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

body{
	border: 0px !important;
}

	h1{
text-align: center;

	}

    