<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Personality Analysis</title>



  <link rel="stylesheet" href="{{url_for ('static',filename='css/bootstrap.min.css')}}" />
  <link rel="stylesheet" href="{{url_for ('static',filename='css/unicons.css')}}" />
  <link rel="stylesheet" href="{{url_for ('static',filename='css/owl.carousel.min.css')}}" />

  <link rel="stylesheet" href="{{url_for ('static',filename='css/owl.theme.default.min.css')}}" />
  <!-- MAIN STYLE -->
  <link rel="stylesheet" href="{{url_for ('static',filename='css/tooplate-style.css')}}" />

  <!--



-->
</head>

<body>

  <!-- MENU -->
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <a class="navbar-brand" style="letter-spacing: 4%; color: #303031; font-family: Futura BdCn BT; font-size: 32px;"
        href="index.html"><i class='uil uil-user'></i> Personlity Analysis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="blog.html" class="nav-link"><span data-hover="Blog">Blog</span></a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link"><span data-hover="About">About</span></a>
          </li>
          <li class="nav-item">
            <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
          </li>
          <li class="nav-item">
            <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-lg-auto">
          <div class="ml-lg-4">
            <div class="color-mode d-lg-flex justify-content-center align-items-center">
              <i class="color-mode-icon"></i>
              Color mode
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ABOUT -->
  <section class="about full-screen d-lg-flex justify-content-center align-items-center" style="margin-top: -100px;"
    id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
          <div class="about-text">
            <h1 style="color: #303031; 
            font-family: Futura BdCn BT; 
            font-size: 32px;" class="small-text">Welcome to our <span class="mobile-block">Final Year Project</span>
            </h1>
            <h1 class="animated animated-text">

              <div class="animated-info">
                <span class="animated-item">Personality Analysis</span>
                <span class="animated-item">Using User's Tweets</span>
              </div>
            </h1>

            <p id="Para" style="font-family: Inter-Regular;
            font-size: 20px;
            line-height: 32px;">

              Our work emphasizes on finding psychology traits which are discussed by Twitter users,
              using analysis of Twitter user profiles and frequent terms encountered in tweets</p>



            <form method="POST" action="{{url_for('home')}}">
              <input style="height: 50px; width: 400px;" type="text" class="inputF btn mr-lg-2 custom-btn" name="username"
                value="Enter Username">
              <input style="background-color: #71A894; color: white; width: 175px;
              margin-left: -50px;;
              height: 50px;
              " class="btn custom-btn custom-btn-bg custom-btn-link" type="submit" value="Get Tweets">
            </form>


              



            <br>
            <form method="POST" action="{{url_for('result')}}">
              <button id="ShowResultss" style="width: 535px; background-color: #71A894;"
                class="btn custom-btn custom-btn-bg custom-btn-link" type="submit" value="submit">Show Results</button>
            </form>
          </div>

        </div>
        <div class="col-lg-5">
          <div class="about-image svg">
            <img src="static\images\project\Illustration.png" class="img-fluid" alt="PNG image">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PROJECTS -->
  <section class="project py-5" id="project">
    <div class="container">

      <div class="row">
        <div class="col-lg-11 text-center mx-auto col-12">

          <div class="col-lg-8 mx-auto">
            <h2>Our Services includes</h2>
          </div>

          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="project-info">
                <img src="../static/images/project/project-image01.jpg" class="img-fluid" alt="project image">
              </div>
            </div>
            <!--<div class="item">
              <div class="project-info">
                <img src="../static/images/project/project-image02.jpg" class="img-fluid" alt="project image">
              </div>
            </div>-->


            <div class="item">
              <div class="project-info">
                <img src="../static/images/project/project-image03.jpg" class="img-fluid" alt="project image">
              </div>
            </div>
            <!--<div class="item">
              <div class="project-info">
                <img src="../static/images/project/project-image04.jpg" class="img-fluid" alt="project image">
              </div>
            </div>-->


            <div class="item">
              <div class="project-info">
                <img src="../static/images/project/project-image05.jpg" class="img-fluid" alt="project image">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES -->
  <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-12">
          <h2 class="mb-4">Details about the project:</h2>

          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>First</span>
              </div>
              <div class="timeline-info">
                <h3><span>Connection</span><small>Connecting to Twitter</small></h3>
                <p>The first step of this project is to connect to twitter using tweepy API.</p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>Second</span>
              </div>
              <div class="timeline-info">
                <h3><span>Data Downloading</span><small>Tweets downloading</small></h3>
                <p>The second step is to download the user's tweets to be used later for analyzing.</p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>Third</span>
              </div>
              <div class="timeline-info">
                <h3><span>Vectors</h3>
                <p>Vectors are joined together to make a unique artwork.They can be crucial for making a spectacular
                  result.
                  Our site contains many free-to-use vector and premium packages.</p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>Fourth</span>
              </div>
              <div class="timeline-info">
                <h3><span>Digital Portrait</h3>
                <p>Digital Portrait is to design a portrait from a picture in a Computer.Digital portraits are
                  common for gaming or business purposes.If you want to us to design it for you, you can contact us.</p>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6 col-12">
          <h2 class="mb-4 mobile-mt-2">Photoworks</h2>

          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>First</span>
              </div>
              <div class="timeline-info">
                <h3><span>Photography</span><small>Wedding, Solo, Party</small></h3>
                <p>Professional photoshoot will be done all according to the requirements in affordable price.</p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>Second</span>
              </div>
              <div class="timeline-info">
                <h3><span>Video Editing</span><small>Freelance Video editing, Docomentries, Youtube</small></h3>
                <p>We have professional video editior with more than 5 years of experience in video editing who will
                  edit your videos professionally</p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>Third</span>
              </div>
              <div class="timeline-info">
                <h3><span>Visual Effects</span><small></small></h3>
                <p>Visual effects will be added to your videos, like green screen effects etc</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- CONTACT -->
  <section class="contact py-5" id="contact">
    <div class="container">
      <div class="row">

        <div class="col-lg-5 mr-lg-5 col-12">
          <div class="google-map w-100">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12088.558402180099!2d-73.99373482142036!3d40.75895421922642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25855b8fb3083%3A0xa0f9aef176042a5c!2sTheater+District%2C+New+York%2C+NY%2C+USA!5e0!3m2!1sen!2smm!4v1549875377188"
              width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

          <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
            <div class="contact-info-item">
              <h3 class="mb-3 text-white">Say hello</h3>
              <p class="footer-text mb-0">010 020 0960</p>
              <p><a href="mailto:hello@company.co">hello@company.co</a></p>
            </div>

            <ul class="social-links">
              <li><a href="#" class="uil uil-dribbble" data-toggle="tooltip" data-placement="left" title="Dribbble"></a>
              </li>
              <li><a href="#" class="uil uil-instagram" data-toggle="tooltip" data-placement="left"
                  title="Instagram"></a></li>
              <li><a href="#" class="uil uil-youtube" data-toggle="tooltip" data-placement="left" title="Youtube"></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-12">
          <div class="contact-form">
            <h2 class="mb-4">Interested to work together? Let's talk</h2>

            <form action="" method="get">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <input type="text" class="form-control" name="name" placeholder="Your Name" id="name">
                </div>

                <div class="col-lg-6 col-12">
                  <input type="email" class="form-control" name="email" placeholder="Email" id="email">
                </div>

                <div class="col-12">
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message"></textarea>
                </div>

                <div class="ml-lg-auto col-lg-5 col-12">
                  <input type="submit" style="background-color: #71A894;" class="form-control submit-btn"
                    value="Send Button">
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer class="footer py-5">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-12">
          <p class="copyright-text text-center">Copyright &copy; 2022 Company Name . All rights reserved</p>
          <p class="copyright-text text-center">Designed by <a rel="nofollow" href="#">Personality Analysis & Co.</a>
          </p>
        </div>

      </div>
    </div>
  </footer>

  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/Headroom.js"></script>
  <script src="../static/js/jQuery.headroom.js"></script>
  <script src="../static/js/owl.carousel.min.js"></script>
  <script src="../static/js/smoothscroll.js"></script>
  <script src="../static/js/custom.js"></script>
  <script>
    $(document).ready(function(){
      $(".inputF").val("Enter Username");
      $(".inputF").on("focus",function(){
        $(".inputF").val("");
      });
    });
  </script>

</body>

</html>