<!doctype html>
<html lang="en">

<head>
  <title>Personality Analysis</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="styles.css">
  <script src="mainscreen.js"></script>
</head>

<body>
  <div class="topnav">
    <a style="letter-spacing: 4%; color: #303031; font-family: Futura BdCn BT; font-size: 32px; margin-left: 10px;"
      href="task1.html">Personality Analysis</a>
    <div class="right">
      <a href="task1.html" style="color: #303031;">Why Personality Analysis</a>
      <a style="color: #303031;" href="#">Features</a>
      <a style="color: #303031;" href="#">Contribute</a>
      <a style="color: #71A894; " href="#">Find Behaviour</a>
    </div>
  </div>

  <img style="float: right; margin-top: -100px;" src="Illustration.png" alt="Illustration is in loading process"
    width="700 px" height="640 px" />

  <p class="welcomenote">Welcome to our final year Project</p>
  <p class="secondnote">A new model for merging AI and character checking</p>
  <p class="thirdnote">Our work emphasizes on finding psychology traits which are discussed by Twitter users, using
    analysis of Twitter user profiles and frequent terms encountered in tweets</p>

  <div style="width: 100%;">
    <input class="input" id="getinput" type="text" value="Enter Username">
    <button class="button1" type="button" onclick="getInputValue()" id="getTweets">Get Tweets</button>
  </div>

  <button class="button2" onclick="">Show Results</button>
</body>