<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Results</title>
  
    <link rel="stylesheet" href="{{url_for ('static',filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for ('static',filename='css/unicons.css')}}" />
    <link rel="stylesheet" href="{{url_for ('static',filename='css/owl.carousel.min.css')}}" />
  
    <link rel="stylesheet" href="{{url_for ('static',filename='css/owl.theme.default.min.css')}}" />
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="{{url_for ('static',filename='css/tooplate-style.css')}}" />
  
  
    <!-- <link rel="stylesheet" href="static/css/style1.css"> -->
    <link rel="stylesheet" href="{{url_for ('static',filename='css/style1.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body class="">
    <!-- MENU -->
  <nav class="navbar navbar-expand-sm navbar-light" style="margin-top: -50px;">
    <div class="container">
      <a class="navbar-brand" style="letter-spacing: 4%; color: #303031; font-family: Futura BdCn BT; font-size: 32px;"
        href="index.html"><i class='uil uil-user'></i> Personlity Analysis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="blog.html" class="nav-link"><span data-hover="Blog">Blog</span></a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link"><span data-hover="About">About</span></a>
          </li>
          <li class="nav-item">
            <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
          </li>
          <li class="nav-item">
            <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-lg-auto">
          <div class="ml-lg-4">
            <div class="color-mode d-lg-flex justify-content-center align-items-center">
              <i class="color-mode-icon"></i>
              Color mode
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>

  <div class=" text-center m-5">
    <div class="container ">
        <div class="row">
          <div class="col-sm d-flex flex-column justify-content-center align-items-center">
            <h1> Hi, My name is  {{ UserName }}</h1>
    <p> {{ para1 }}</p>
          </div>
          <div class="col-sm d-flex justify-content-center align-items-center">
           <img  src="static\images\project\picture.jpg" style="max-width: 350px" alt="">
          </div>
          
        </div>
      </div>
   
</div>
    <div class=" text-center m-5">
        <h1> {{ heading1 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 20px;
        line-height: 32px;" > {{ para1 }}</p>
        <a href="#results" class="btn btn-info" type="button">See Full Results</a>
       
    </div>
<div style="background-color: #EDF7FA; ">

    <div class="list-unstyled card-columns content-bg ml-4 p-4" style="column-count: 4;     " id="results">
    <section class="card text-center">

        <h1> {{ heading1 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 16px;
        line-height: 32px;"> {{ para1 }}</p>
    </section>
   
    <section class="card text-center p-1">

        <h1> {{ heading2 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 16px;
        line-height: 32px;"> {{ para2 }}</p>
    </section>

    <section class="card text-center p-1">

        <h1> {{ heading3 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 16px;
        line-height: 32px;"> {{ para3 }}</p>
    </section>

    <section class="card text-center p-1">

        <h1> {{ heading4 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 16px;
        line-height: 32px;"> {{ para4 }}</p>
    </section>


    <section class="card text-center p-1">

        <h1> {{ heading5 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 16px;
        line-height: 32px;"> {{ para5 }}</p>
    </section>


    <section class="card text-center p-1">

        <h1> {{ heading6 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 16px;
        line-height: 32px;"> {{ para6 }}</p>
    </section>
    
    <section class="card text-center p-1">

        <h1> {{ heading7 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 16px;
        line-height: 32px;"> {{ para7 }}</p>
    </section>
    

    <section class="card text-center p-1 ">

        <h1> {{ heading8 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 16px;
        line-height: 32px;"> {{ para8 }}</p>
    </section>

    <section class="card text-center p-1">

        <h1> {{ heading9 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 16px;
        line-height: 32px;"> {{ para9 }}</p>
    </section>
    <section class="card text-center p-1">
        <h2> {{ BigHeading }}</h2>
    </section>
    

    <section class="card text-center p-1">

        <h1> {{ heading10 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 16px;
        line-height: 32px;"> {{ para10 }}</p>
    </section>
   
    <section class="card text-center p-1">

        <h1> {{ heading11 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 16px;
        line-height: 32px;"> {{ para11 }}</p>
    </section>

    <section class="card text-center p-1">

        <h1> {{ heading12 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 16px;
        line-height: 32px;"> {{ para12 }}</p>
    </section>
    
    <section class="card text-center p-1">

        <h1> {{ heading13 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 16px;
        line-height: 32px;"> {{ para13 }}</p>
    </section>
    
    <section class="card text-center p-1">

        <h1> {{ heading14 }}</h1>
        <p style="font-family: Inter-Regular;
        font-size: 16px;
        line-height: 32px;"> {{ para14 }}</p>
    </section>


</div>
</div>






    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/Headroom.js"></script>
    <script src="../static/js/jQuery.headroom.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/smoothscroll.js"></script>
    <script src="../static/js/custom.js"></script>



    
</body>

</html>